APP_NAME=IceBank
APP_ENV=local
APP_KEY=base64:icebankSecretKey2026==
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=icebank
DB_USERNAME=icebank_user
DB_PASSWORD=icebank2026

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=icebank_redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@icebank.com
MAIL_FROM_NAME=IceBank

OPENAI_API_KEY=your_openai_api_key_here

SANCTUM_STATEFUL_DOMAINS=localhost:3000
